<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="upper">
      <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid" />
    </div>

    <div class="user text-center">
      <div class="profile">
        <img *ngIf="userData.picture"
          src="http://localhost:8080/getImageProfile/{{userData.picture}}"
          class="rounded-circle"
          width="80"
        />
        <img *ngIf="!userData.picture"
          src="../../../assets//profilepicture/default.jpg"
          class="rounded-circle"
          width="80"
        />
      </div>
    </div>
    <div class="mt-5 text-center">
      <h4 class="mb-0">{{ userData.name }}</h4>
      <a [routerLink]="['/drawings/user/' + userData.id]">
      <button class="btn btn-primary btn-sm follow">Follow</button>
    </a>
    </div>
  </div>
</div>
