<div class="mx-auto mt-3" style="width: 55%">
  <div class="row row-cols-1 row-cols-md-1 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          src="http://localhost:8080/getImage/{{ image.image }}"
          class="card-img-top"
          alt="Skyscrapers"
        />
        <div class="card-body">
          <h5 class="card-title">{{ image.title }}</h5>
          <p class="card-text">
            {{ image.comment }}
          </p>
          <p class="card-text text-muted">
            <a [routerLink]="['/profile/' + image.user.id ]" style="text-decoration: none;" class="text-muted">
            Subido por: {{ image.user.name }}
            <img
              *ngIf="image.user.picture"
              src="http://localhost:8080/getImageProfile/{{ image.user.picture }}"
              class="rounded-circle"
              width="40"
            />
            <img
              *ngIf="!image.user.picture"
              src="../../../assets//profilepicture/default.jpg"
              class="rounded-circle"
              width="40"
            />
          </a>
          </p>
        </div>
        <div class="card-footer" style="text-align: right">
          <span style="text-align: left">{{ image.tag.tag }}</span>
          <small class="text-muted">{{
            image.date | date : " h:mm d/M/yy"
          }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
