<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid" *ngIf="loginValue">
    <a class="navbar-brand" [routerLink]="['/drawings']"><img src="assets/logo/logo.png " width="85"priority></a>
    <ul class="navbar-nav me-auto mb-lg-0 relative">
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/drawings']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Dibujos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/drawings/upload']" [routerLinkActive]="['active']">Subir dibujo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Mi perfil</a>
      </li>
      <li class="nav-item right">
        <a (click)="logout()" class="nav-link" [routerLink]="['/auth/login']" sty><mat-icon>logout</mat-icon></a>
      </li>

    </ul>
  </div>

  <div class="container-fluid" *ngIf="!loginValue">
    <a class="navbar-brand"><img src="assets/logo/logo.png " width="85"priority></a>
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth/login']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/auth/register']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }">Registro</a>
      </li>
    </ul>
  </div>
</nav>
